---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { SITE } from "@config";
import getUniqueCategories from "@utils/getUniqueCategories";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import getPagination from "@utils/getPagination";

export const getStaticPaths = async () => {
  const categories = await getUniqueCategories();

  // First define routes for categories normally
  const categoriesPaths = categories.map(category => ({
    params: { slug: category.slug },
    props: { category: category.category },
  }));

  return [...categoriesPaths];
};

const { slug } = Astro.params;
const { category } = Astro.props;

const posts = await getCollection("blog");
const categoryPosts = posts.filter(post =>
  post.data.categories.includes(category)
);
const { paginatedPosts, totalPages, currentPage } = getPagination({
  posts: categoryPosts,
  page: 1,
  isIndex: true,
});
---

<Layout title={`${category} | ${SITE.title}`}>
  <Header activeNav="categories" />
  <Main
    pageTitle={category + "'s posts"}
    pageDesc={`All posts within "${category}" category`}
  >
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>

    <Pagination
      {currentPage}
      {totalPages}
      prevUrl={`/categories/${slug}/${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
      nextUrl={`/categories/${slug}/${currentPage + 1}/`}
    />
  </Main>
  <Footer />
</Layout>
